<form method="post" action="{{ path('app_bale_niveau3_delete', {'id': bale_niveau3.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ bale_niveau3.id) }}">
    <button class="btn">Delete</button>
</form>
