{% extends 'base.html.twig' %}

{% block title %}Edit BaleNiveau2{% endblock %}

{% block body %}
    <h1>Edit BaleNiveau2</h1>

    {{ include('bale_niveau2/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_bale_niveau2_index') }}">back to list</a>

    {{ include('bale_niveau2/_delete_form.html.twig') }}
{% endblock %}
