{% extends 'base.html.twig' %}

{% block title %}Edit TypologieIrregularite{% endblock %}

{% block body %}
    <h1>Edit TypologieIrregularite</h1>

    {{ include('typologie_irregularite/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_typologie_irregularite_index') }}">back to list</a>

    {{ include('typologie_irregularite/_delete_form.html.twig') }}
{% endblock %}
