{% extends 'base.html.twig' %}

{% block title %}Edit TypeReference{% endblock %}

{% block body %}
    <h1>Edit TypeReference</h1>

    {{ include('type_reference/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_type_reference_index') }}">back to list</a>

    {{ include('type_reference/_delete_form.html.twig') }}
{% endblock %}
