<form method="post" action="{{ path('app_decisioncas_delete', {'id': decisionca.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ decisionca.id) }}">
    <button class="btn">Delete</button>
</form>
