{% extends 'base.html.twig' %}

{% block title %}Edit Decisioncas{% endblock %}

{% block body %}
    <h1>Edit Decisioncas</h1>

    {{ include('decisioncas/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_decisioncas_index') }}">back to list</a>

    {{ include('decisioncas/_delete_form.html.twig') }}
{% endblock %}
