{% extends 'base.html.twig' %}

{% block title %}New Decisioncas{% endblock %}

{% block body %}
    <h1>Create new Decisioncas</h1>

    {{ include('decisioncas/_form.html.twig') }}

    <a href="{{ path('app_decisioncas_index') }}">back to list</a>
{% endblock %}
