{% extends 'base.html.twig' %}

{% block title %}Edit EtudeDeCas{% endblock %}

{% block body %}
    <h1>Edit EtudeDeCas</h1>

    {{ include('etude_de_cas/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_etude_de_cas_index') }}">back to list</a>

    {{ include('etude_de_cas/_delete_form.html.twig') }}
{% endblock %}
