{% extends 'base.html.twig' %}

{% block title %}New EvaluationtPerte{% endblock %}

{% block body %}
    <h1>Create new EvaluationtPerte</h1>

    {{ include('evaluationt_perte/_form.html.twig') }}

    <a href="{{ path('app_evaluationt_perte_index') }}">back to list</a>
{% endblock %}
