{% extends 'base.html.twig' %}

{% block title %}Edit StatutPerte{% endblock %}

{% block body %}
    <h1>Edit StatutPerte</h1>

    {{ include('statut_perte/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_statut_perte_index') }}">back to list</a>

    {{ include('statut_perte/_delete_form.html.twig') }}
{% endblock %}
