<form method="post" action="{{ path('app_classification_perte_delete', {'id': classification_perte.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ classification_perte.id) }}">
    <button class="btn">Delete</button>
</form>
